@using DAL.Models;
@model IEnumerable<User>

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<p>
    <a asp-action="Create">Create New</a>
    <div>
        <input type="button" id="generate" value="Create New" />
    </div>
    <div class="justify-content-end">
        <input type ="button" id="update" value="Update" onclick="ReloadPage()"/>
    </div>
</p> 

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                <div>
                    Photo
                </div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="content">

    </tbody>
</table>

@*Modal with Create New*@

<div class="modal fade" id="showMod">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Create a new user</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div>
                <div id="goodMessage">
                    <div class="alert alert-success">
                        <span class="text-body"></span>
                        <strong>You succesfully created a new user!</strong>
                    </div>
                </div>
                <div id="notGoodMessage">
                    <div class="alert alert-danger">
                        <span class="text-body"></span>
                        <strong>Some fields is not filled!</strong>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form id="create">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                            <input class="form-control" type="text" name="Name" id="userName" placeholder="Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                            <input class="form-control" type="date" name="Birthdate" id="birth" placeholder="Birthdate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                            <input class="form-control" type="number" name="Age" id="age" placeholder="Age" />
                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <button id="saveForm" class="btn btn-info form-control" type="submit">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    <a asp-action="Download">Download</a>
</p>

@section Scripts{ 
    <script>
        var urls = {
            removeUser: '@Url.ActionLink("Remove", "User")'
        }
        function ReloadPage() {
            $.get("/User/Update", DataGrid);
            function DataGrid(response) {
                let setData = $("#content");
                setData.empty();
                for (let i = 0; i < response.length; ++i) {

                    var data = null;
                    if (response[i].existingPath) {
                        data = "<tr>"
                            + `<td> ${response[i].name} </td>`
                            + `<td> ${response[i].birthdate} </td>`
                            + `<td> ${response[i].age} </td>`
                            + `<img class="imgInitStyle" ` + ` src= '${response[i].existingPath}'/>`
                            + "<td>"
                            + `<a href = "/User/Awards" data-id="${response.id}">Awards</a> | `
                            + `<a href="/User/Edit" data-id="${response.id}">Edit</a> | `
                            + `<a href="/User/Details" data-id="${response.id}">Details</a> | `
                            + "</td>"
                            + "</tr>";
                    }
                    else {
                        data = "<tr>"
                            + `<td> ${response[i].name} </td>`
                            + `<td> ${response[i].birthdate} </td>`
                            + `<td> ${response[i].age} </td>`
                            + "<td>"
                            + `<a href = "/User/Awards" data-id="${response.id}">Awards</a> | `
                            + `<a href="/User/Edit" data-id="${response.id}">Edit</a> | `
                            + `<a href="/User/Details" data-id="${response.id}">Details</a> | `
                            + "</td>"
                            + "</tr>";
                    }
                    setData.append(data);
                }
            }
        }
    </script>
    <script src ="~/js/userModify.js"></script>
}