body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #191b30;
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* init */
.init {
  width: 100%;
  height: 45vh;
  height:auto !important;
  /*display: flex;*/
  display:block;
  position: relative;
  /*flex-direction: column;*/
  background-size: cover; 
}


.init_inner {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.init_title {
    font-size: 90px;
    font-family: "Kaushan Script", cursive;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    margin-top: 40px;
}

/* Header */
.header {
    display: flex;
    width: 100%;
    margin: 35px;
    left: 0;
    right: 0;
    z-index: 1000;
}
}

.header_inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nav */
.nav{
    font-size: 15px;
    text-transform: uppercase;
    align-items: center;
    justify-content:center;
}

.nav_link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  color: rgb(46, 45, 44);
  text-decoration: none;
  position: relative;
  transition: color 0.15s linear;
  padding-bottom: 10px;
  padding-top: 10px;
}

.nav_link::after {
  display: block;
  background-color: #596960;
  width: 100%;
  height: 3px;
  position: absolute;
  opacity: 0;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity 0.15s linear;
}

.nav_link:hover {
  color: #595959;
}

.nav_link:hover::after {
  opacity: 1;
}

/* Line in nav link*/

.line {
  width: 100%;
  height: 3px;
  background-color: rgb(46, 45, 44);
  display: flex;
  justify-content: center;
}

ul.nav.nav-tabs{
    margin: 10px 0;
}

/* Main */

.main_ {
  display: flex;
  height:auto !important;
  background-size: cover;
  /* background-color: rgb(173, 209, 233);
  border: 15px solid rgb(213, 230, 235); */
}

.main_container {
  margin: 0 auto;
  height:auto;
  flex: 2.5;
}

.main_title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left:15px;
}

/* Sidebar */
.sidebar {
  flex: 1;
  position: relative;
  /* background-color: rgb(255, 243, 80); 
  overflow-x: hidden; */
}

/* search box */
.search_box{
  width:260px;
  background: #191b30;
  height:40px;
  border-radius: 40px;
  padding: 7.5px 0 0 12px;
}
.search_btn{
  color: white;
  background: #191b30;
}
.search_txt{
  border:none;
  background: none;
  outline: none;
  font-size: 16px;
  color: white;
  width:215px;
}

/* Tags */

.pop_tags{
  width: 75%;
}
#tags_title{
  margin: 0;
  text-transform: uppercase;
}
#list{
  margin:0;
}
.list_item{
  display: inline-block;
  margin-right:10px;
}
#list_a{
  padding: 5px;
  float: right;
  text-decoration: none;
  text-transform: uppercase;
  color:#191b30;
  border:2px solid #191b30;
}

/* section */
.section {
  padding: 30px 10px;
  width: 100%;
  max-width: 830px;
}

.section::before {
    content: "";
    display: block;
    margin-bottom: 10px;
    margin:0 auto;
    width: 100%;
    height: 3px;
    background-color: #191b30;
}

.section_header {
  width: 100%;
}
.section_title {
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  color: rgb(46, 45, 44);
  margin-top:10px;
  margin-bottom: 10px;
}

.section_text {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
}

.section_category {
  display: inline-block;
  margin-right: 10px;
}
.section_tag {
  display: inline-block;
}

/* Description */
.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

/* form */
.form {
  display: flex;
}

/* footer */

.footer {
  width: 100%;
  height:auto;
  justify-content: center;
  background-color: #191b30;
  padding: 3rem 1.5rem;
}
.footer_inner {
  width: 100%;
  max-width: 900px;
  display: flex;
  margin: 0 auto;
}
.column:last-child {
  flex: 1.5;
}
.footer_title {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}
.column {
  flex: 1;
  padding: 20px;
}
.column:nth-child(1) {
  flex: 2.5;
}
#li_footer {
    list-style: none;
}
#a_item{
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  margin: auto;
  font-family: "Whitney Narrow SSm A", "Whitney Narrow SSm B";
}
.main_footer_title {
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Knockout 90 A", "Knockout 90 B";
}
#ex_column {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  font-family: "Knockout 90 A", "Knockout 90 B";
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.init_text {
  font-size: 12px;
  color: #fff;
}
.p_footer {
  color: #fff;
  text-transform: uppercase;
}

ul {
  padding: 0;
}

/*general*/
.general{
    width:100%;
    max-width:1200px;
    height:auto !important;
}

.btn_nav {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #191b30;
    line-height: 1.5;
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
    text-decoration: none;
    position: relative;
    transition: color 0.15s linear;
    padding-bottom: 10px;
    padding-top: 10px;
}

/*continue button*/
.continue_btn {
    align-items: center;

    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.a_continue {
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(46, 45, 44);
    text-decoration: none;
    margin-left:15px;
}

/*Section for comment*/
.comment_content{
    margin-left:50px;
}

