<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/style.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"
    ></script>
    <title>The Post-Realism</title>
  </head>

  <body>
    <div class="init">
      <div class="container">
        <div class="init_inner">
          <h1 class="init_title">The Post-Realism</h1>
        </div>
        <header class="header">
          <div class="container">
            <!-- <div class="line"></div> -->
            <div class="header_inner">
              <nav class="nav">
                <a class="nav_link" href="#">Home</a>
                <a class="nav_link" href="#">Search</a>
                <a class="nav_link" href="#">Archives</a>
                <a class="nav_link" href="#">Contact</a>
                <a class="nav_link" href="#">Privacy</a>
              </nav>
            </div>
            <!-- <div class="line"></div> -->
          </div>
        </header>
      </div>
    </div>

    <div class="main">
      <div class="main_container">
        <h2 class="main_title">Latest Posts</h2>

        <section class="section">
          <div class="container">
            <section class="section_header">
              <h2 class="section_title">Title</h2>
              <div class="description">
                <div class="description_inner">
                  <p class="section_category"><b>Category: </b>Programming</p>
                  <p class="section_tag"><b>Tag(s): </b> ASP.NET Core</p>
                </div>
                <h3 class="section_date">20/01/2020</h3>
              </div>
              <div class="section_text">
                <p>
                  Bali is so aptly called the 'Land of a Thousand Temples' .
                  Every nook and corner of this island is beautifully adorned
                  with a strikingly beautiful 'Pura' or temple. Balinese people
                  are extremely religious and majority of them are Hindus,
                  that's why you get to see a temple in almost every courtyard
                  of the private houses in Bali. Each temple is unique in its
                  own way and some of the most famous public temples of Bali
                  will take your breath away due to their stunning locations.
                  Some are located on the cliffs, some on the shoreline, some
                  are beautifully placed in gardens, some in the middle of a
                  lake and some even on the flanks of an active volcano.
                </p>
              </div>
            </section>
          </div>
        </section>
      </div>

      <div class="sidebar">

        <div class="search">
          <div class="search_box">
            <input class="search_txt" type="text" placeholder="Type to search" />
            <a class="search_btn" href="#">
              <i class="fas fa-search"></i>
            </a>
          </div>
        </div>


        <div class="pop_tags">
          <div class="title_tag">
            <h2 id="tags_title">Popular tags</h2>
          </div>
          <div class="tag_column">
            <ul id="list">
              <li class="list_item">
                <a id="list_a" href="#">camera</a>
              </li>
              <li class="list_item">
                <a id="list_a" href="#">office</a>
              </li>
              <li class="list_item">
                <a id="list_a" href="#">bike</a>
              </li>
            </ul>
          </div>
        </div>

      </div>  <!-- sidebar -->

    </div><!-- main -->

    <footer class="footer">
      <div class="footer_inner">
        <div class="column init_column">
          <h2 class="main_footer_title">
            The Post-Realism
          </h2>
          <p id="ex_column">
            Personal Blog
          </p>
          <p class="p_footer">Follow us:</p>
          <span class="init_text">
            Copyright © 2020 The Post-Realism, Inc. All rights reserved. The
            Post-Realism is a trademark of BlogCo, Inc.
          </span>
        </div>
        <div class="column">
          <h3 class="footer_title">membership</h3>
          <ul>
            <li>
              <a id="a_item" href="#">Join</a>
            </li>
            <li>
              <a id="a_item" href="#">Success Stories</a>
            </li>
          </ul>
        </div>
        <div class="column">
          <h3 class="footer_title">Free Goodies</h3>
          <ul>
            <li>
              <a id="a_item" href="#">Blog</a>
            </li>
          </ul>
        </div>
        <div class="column">
          <h3 class="footer_title">The Post-Realism</h3>
          <ul>
            <li>
              <a id="a_item" href="#">About</a>
            </li>
            <li>
              <a id="a_item" href="#">Contact</a>
            </li>
            <li>
              <a id="a_item" href="#">Support</a>
            </li>
            <li>
              <a id="a_item" href="#">Privacy</a>
            </li>
            <li>
              <a id="a_item" href="#">Terms</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
