@using DAL.Model;
@model IEnumerable<Product>;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>Product</h4>
<hr />

<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Create">Create new product</a>
        </li>
    </ul>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
