@using System.Threading.Tasks;

<div class="search">
    <div class="search_box">
        <input class="search_txt" type="text" placeholder="Type to search" />
        <a class="search_btn" href="#">
            <i class="fas fa-search"></i>
        </a>
    </div>
</div>

