@using PL.Models;
@model RegisterViewModel;

@{
    ViewData["Title"] = "Register";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<h1 class="mx-sm-5" style="margin-bottom:10px">Register a new user</h1>

<form method="post" asp-action="Register" asp-controller="Account">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group mx-sm-5">
        <label asp-for="Name"></label><br />
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group mx-sm-5">
        <label asp-for="Email"></label><br />
        <input class="form-control" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group mx-sm-5">
        <label asp-for="Birthday"></label><br />
        <input class="form-control" asp-for="Birthday" />
        <span asp-validation-for="Birthday"></span>
    </div>
    <div class="form-group mx-sm-5">
        <label asp-for="Password"></label><br />
        <input class="form-control" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group mx-sm-5">
        <label asp-for="ConfirmPassword"></label><br />
        <input class="form-control" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <input class="btn btn-primary mx-sm-5" type="submit" value="Register" />
    </div>
</form>

